<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>两列右侧自适应布局</title>
		<style>
		/* 两列右侧自适应布局 */
		.g-bd1{margin:0 0 10px;}
		.g-sd1{position:relative;float:left;width:190px;margin-right:-190px;background-color: red;}
		.g-mn1{float:right;width:100%;}
		.g-mn1c{margin-left:200px;background-color: #ddd;}
		</style>
	</head>
	<body>
		<div class="g-bd1 f-cb">
			<div class="g-sd1">
				<p>左侧定宽</p>
			</div>
			<div class="g-mn1">
				<div class="g-mn1c">
					<p>右侧自适应</p>
				</div>
			</div>
		</div>
	</body>
</html>