<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>两列右侧自适应布局</title>
		<style>
		/* democase 1 public css */
		.demo{
		width:340px;
		background-color:#D7D7D7;
		}
		.democase1 ul{
		padding:20px 0 0 0;
		}
		.democase1 li{
		float:left;
		display:inline;
		margin:0 20px 20px 0;
		}
		.democase1 li img{
		vertical-align:middle;
		}
		</style>
	</head>
	<body>
		<div id="demo1" class="demo democase1">
			<ul class="nostyle clearfix">
				<li><img alt="img1" src="../../img/t.jpg"></li>
				<li><img alt="img2" src="../../img/t.jpg"></li>
				<li><img alt="img3" src="../../img/t.jpg"></li>
				<li><img alt="img4" src="../../img/t.jpg"></li>
				<li><img alt="img5" src="../../img/t.jpg"></li>
				<li><img alt="img6" src="../../img/t.jpg"></li>
			</ul>
		</div>
	</body>
</html>